* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.header {
  background: #1ea7c8;
  color: white;
  text-align: center;
  padding: 20px;
}

.contenedor {
  display: flex;
  min-height: 400px;
}

.menu {
  background: #6f8a64;
  width: 180px;
  padding: 20px;
  color: black;
}

.formulario {
  flex: 1;
  padding: 20px;
}

.formulario h2 {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 80%;
  padding: 5px;
}


button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-verde {
  background: green;
}

.btn-rojo {
  background: crimson;
}


.separador {
  width: 5px;
  background: green;
}


.footer {
  background: #1ea7c8;
  color: black;
  text-align: center;
  padding: 10px;
}


@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .separador {
    display: none;
  }
}

.flex-usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.flex-usuario img{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.icono-usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
}

.icono-usuario-form img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 91%;
    color: black;
}
